Find the least budgeted movie in IMDB Movie Database.
If there is more than one least budgeted movies then print the movie which has maximum net profit.
Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget

In [60]:
import pandas as pd
import sqlite3 as sql
import numpy as np
def function(data):    
    return int(data)

db=sql.connect("IMDB.sqlite")
df=pd.read_sql_query("select title,budget,domestic,worldwide from imdb i join earning e on i.movie_id=e.movie_id",db)
df=df[df["Budget"]!=""]
df["Budget"]=df["Budget"].apply(function)
df["Domestic"]=df["Domestic"].apply(function)
df["Worldwide"]=df["Worldwide"].apply(function)
min_budget=df["Budget"].min()
df=df[(df["Budget"]==min_budget)]
df["Earning"]=(df["Domestic"]+df["Worldwide"])-df["Budget"]
max_earn=df["Earning"].max()
df=df[df["Earning"]==max_earn]
print(df["Title"].values[0])

Short Term 12 (2013)