Find the movie which has maximum net profit in IMDB Movie Database.
Print the movie name.
Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget

In [24]:
import dtale
import pandas as pd
import sqlite3 as sql
def function(data):
    if data=="":
        return 0
    return int(data)
db=sql.connect("IMDB.sqlite")
df=pd.read_sql_query("select title,budget,domestic,worldwide from earning e join imdb i on i.movie_id = e.movie_id",db)
dtale.show(df)
df["Domestic"]=df["Domestic"].apply(function)
df["Worldwide"]=df["Worldwide"].apply(function)
df["Budget"]=df["Budget"].apply(function)
df["Earning"]=(df["Domestic"]+df["Worldwide"])-df["Budget"]
earning=df["Earning"].argmax()
df["Title"][earning]

'Star Wars: The Force Awakens (2015)'